body{
    font-family:"ヒラギノ角ゴ Pro W3","メイリオ",sans-serif;
    font-size:14px;
}
.navbar{
    border-radius:0;
}
.row{
    margin-bottom:50px;
}
.icon{
    text-align:center;
}
.icon .glyphicon{
    margin-bottom:10px;
    font-size:40px;
    color:#777;
}
#bold h1{
   padding-left: 1pc; 
   font-weight:900; 
}
hr{
    color:#000;
}
.container img{
    -ms-interpolation-mode:bicubic;
    max-width:80px;
    max-height:80px;
    border-radius:100%;
}
#profile{
    text-align:center;
}
#profile{
    background-color:#aaa;
    padding:20px;
}
#profile img{
    -ms-interpolation-mode:bicubic;
    max-width:80px;
    max-height:80px;
    border-radius:100%;
}