body{
    font-family:"ヒラギノ角ゴ Pro W3","メイリオ",sans-serif;
    font-size:14px;
}
.navbar{
    border-radius:0;
}
.row{
    margin-bottom:50px;
}
.icon{
    text-align:center;
}
.icon .glyphicon{
    margin-bottom:10px;
    font-size:40px;
    color:#777;
}
.content {
    padding-bottom:15px;
}
#bold h1{
   padding-left: 1pc; 
   font-weight:900; 
}
.container img{
    -ms-interpolation-mode:bicubic;
    max-width:80px;
    max-height:80px;
    border-radius:100%;
}
#profile{
    text-align:center;
}
#profile{
    background-color:#aaa;
    padding:20px;
}
#profile img{
    -ms-interpolation-mode:bicubic;
    max-width:200px;
    max-height:200px;
    border-radius:20%;
}
#profile_info{
    padding:10px;
}
footer{
    border-top:1px solid#e7e7e7;
    background-color:#f8f8f8;
    text-align:center;
}

.copyright{
    padding:20px 0;
    font-size:12px;
    color:#666;
    text-align:center;
}

@media (max-width:758px){
    body{
        font-size:12px;
    }
    }
    h2{
        font-size:24px;
    }
    .panel-title{
        font-size:14px;
    }